header.header.top-index
  .header__cont
    .burger-btn
      span.burger-btn__elem

    .burger-menu.hidden
      a.header-phone.top-index(href='tel:+74956603843') +7 (495) 660-38-43

    a.header__link(href='#').top-index
      img.logo(src='assets/img/common/logo.png' srcset='assets/img/common/logo@2x.png' alt='Teachbase')

    nav.header-nav.top-index
      ul.header-nav__list
        li.header-nav__item
          a.header-nav__link(href='#') Почему Teachbase
        li.header-nav__item
          a.header-nav__link(href='#') Решения
        li.header-nav__item
          a.header-nav__link(href='#') Тарифы
        li.header-nav__item
          a.header-nav__link(href='#') Журнал
        li.header-nav__item
          a.header-nav__link(href='#') Библиотека курсов

    a.header-phone.top-index(href='tel:+74956603843') +7 (495) 660-38-43

    a.header__btn.btn.top-index(href='#')
      span.btn__text <span class='txt-part'>Попробовать</span> демо

    a.auth-link.top-index(href='#') Войти