section.main
  .container
    .main__cont
      h1.main__title Запускаем <br>обучение <br>сотрудников
      p.main__p Для этого у&nbsp;нас есть: конструктор курсов и&nbsp;тестов, вебинары, библиотека готовых курсов, гибкие отчёты, мобильное приложение, всевозможные полезные интеграции и&nbsp;заботливая техподдержка.
      .main__btn-cont
        a.main__btn.btn(href='#')
          span.btn__text Попробовать демо
        a.main__btn.btn.btn--empty(href='#')
          span.btn__text Узнать больше

    img.main__img(src='assets/img/main/pic.svg')