section.about
  .container
    .about__cont
      .about__col-1
        img.about__title(src='assets/img/about/title.svg')
        span.about__subtitle на&nbsp;рынке онлайн-обучения
        .partners
          .partners__item
            img.partners__img(src='assets/img/about/logos/logo-01.png', srcset='assets/img/about/logos/logo-01@2x.png', alt='Газпром')
          .partners__item
            img.partners__img(src='assets/img/about/logos/logo-02.png', srcset='assets/img/about/logos/logo-02@2x.png', alt='Mastercard')
          .partners__item
            img.partners__img(src='assets/img/about/logos/logo-03.png', srcset='assets/img/about/logos/logo-03@2x.png', alt='Сибур')
          .partners__item
            img.partners__img(src='assets/img/about/logos/logo-04.png', srcset='assets/img/about/logos/logo-04@2x.png', alt='Нефтегарант')
          .partners__item
            img.partners__img(src='assets/img/about/logos/logo-05.png', srcset='assets/img/about/logos/logo-05@2x.png', alt='Ozon')
          .partners__item
            img.partners__img(src='assets/img/about/logos/logo-06.png', srcset='assets/img/about/logos/logo-06@2x.png', alt='Invitro')
          .partners__item
            img.partners__img(src='assets/img/about/logos/logo-07.png', srcset='assets/img/about/logos/logo-07@2x.png', alt='Skyeng')
          .partners__item
            img.partners__img(src='assets/img/about/logos/logo-08.png', srcset='assets/img/about/logos/logo-08@2x.png', alt='Skolkovo')
          .partners__item
            img.partners__img(src='assets/img/about/logos/logo-09.png', srcset='assets/img/about/logos/logo-09@2x.png', alt='hh.ru')
          .partners__item
            img.partners__img(src='assets/img/about/logos/logo-10.png', srcset='assets/img/about/logos/logo-10@2x.png', alt='LVMH')
          .partners__item
            img.partners__img(src='assets/img/about/logos/logo-11.png', srcset='assets/img/about/logos/logo-11@2x.png', alt='Домодедово')
          .partners__item
            img.partners__img(src='assets/img/about/logos/logo-12.png', srcset='assets/img/about/logos/logo-12@2x.png', alt='Слетать.ру') 

      .about__col-2
        .reviews
          .reviews__cont
            .reviews-swiper.swiper-container
              .swiper-wrapper
                .swiper-slide
                  .reviews-swiper__item
                    p.reviews-swiper__p Приятный интерфейс, всё понятно и&nbsp;просто, ученикам нравится. Для нас был важный критерий&nbsp;&mdash; тестирования. Проводить оценки и&nbsp;выгружать.
                    .reviews-swiper__bottom
                      span.reviews-swiper__name Ольга Антонова
                      span.reviews-swiper__company-name MedPoint24

                .swiper-slide
                  .reviews-swiper__item
                    p.reviews-swiper__p Приятный интерфейс, всё понятно и&nbsp;просто, ученикам нравится. Для нас был важный критерий&nbsp;&mdash; тестирования. Проводить оценки и&nbsp;выгружать.
                    .reviews-swiper__bottom
                      span.reviews-swiper__name Ольга Антонова
                      span.reviews-swiper__company-name MedPoint24

                .swiper-slide
                  .reviews-swiper__item
                    p.reviews-swiper__p Приятный интерфейс, всё понятно и&nbsp;просто, ученикам нравится. Для нас был важный критерий&nbsp;&mdash; тестирования. Проводить оценки и&nbsp;выгружать.
                    .reviews-swiper__bottom
                      span.reviews-swiper__name Ольга Антонова
                      span.reviews-swiper__company-name MedPoint24

                .swiper-slide
                  .reviews-swiper__item
                    p.reviews-swiper__p Приятный интерфейс, всё понятно и&nbsp;просто, ученикам нравится. Для нас был важный критерий&nbsp;&mdash; тестирования. Проводить оценки и&nbsp;выгружать.
                    .reviews-swiper__bottom
                      span.reviews-swiper__name Ольга Антонова
                      span.reviews-swiper__company-name MedPoint24

            .reviews-swiper__btn-prev.swiper-button-prev
            .reviews-swiper__btn-next.swiper-button-next

          .reviews-swiper__pagination.swiper-pagination

    img.about__img(src='assets/img/about/bg.svg')
