section.book
  .container
    img.book__img(src='assets/img/book/book.png' srcset='assets/img/book/book@2x.png')

    .book__cont
      h2.book__title Онлайн-книга <br>«Как запустить <br>онлайн-обучение»
      p.book__p Мы&nbsp;подготовили и&nbsp;собрали в&nbsp;одном месте набор советов об&nbsp;эффективном запуске обучения для ваших сотрудников. Оставьте email, пришлем вам ее&nbsp;на&nbsp;почту.

      form.book__form
        input.input(type='email' name='email' placeholder='Email')
        button.btn
          span.btn__text Скачать
