doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='initial-scale=1.0, width=device-width')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='description' content='Сервис Teachbase.ru работает с большим количеством организаций по всей России и СНГ и поставляет качественные решения для организации обучения в компаниях.')
    meta(name='keywords' content='')
    link(href='https://static.tildacdn.com/tild3165-3964-4939-b234-386133633437/favicon_2.ico' rel='shortcut icon' type='image/x-icon')

    title Teachbase

    link(rel='stylesheet', href='assets/css/all.min.css')

  body.body
    .wrapper
      block content

    script(src='assets/js/all.min.js')
